body {
    background: #232323;
    margin: 0px;
    font-family: "Montserrat", "Avenir";
}

h1 {
    color: aliceblue;
    line-height: 1.1;
    text-align: center;
    background: steelblue;
    margin: 0px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.square {
    width: 30%;
    background: #810c81;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 15%;
    transition: background .6s;
}

.container {
    margin: 20px auto;
    max-width: 600px;
}

.selected {
    color: white;
    background: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    transition: all .3s;
    outline: none;
}

button:hover {
    color: white;
    background: steelblue;
}